<ul>
<img src=https://media.tenor.com/u7wqibJ4m4gAAAAj/jumping-monkey-hat.gif/>
{% for blog in blogs %}
    <li><a href="{{ blog.Url }}">{{ blog.Name }}</a>
        {% unless blog.Description == blank %}
            <small> - {{ blog.Description }}</small>
        {% endunless %}
    </li>
{% endfor %}
</ul>
