<ul>
{% for blog in blogs %}
    <li><a href="{{ blog.Url }}">{{ blog.Name }}</a>
        {% unless blog.Description == blank %}
            <small> - {{ blog.Description }}</small>
        {% endunless %}
    </li>
{% endfor %}
</ul>